*{
    margin: 0;
    border: border-box;
    color: white;
}
.navbar{
    background-color: black;
    color: white;
    height: 4.5rem;
    display: Flex;
    align-items: center;
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border-color: white;
}
.navlogo{
    width: 7.5rem;
    height: 2.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
}

.logo{
    
    background-image: url("logo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 6.5rem;
    height: 2.8rem;
}
.navloc{
    width: 5rem;
    height: 3rem;
    display:flex;
    align-items: center;
    justify-content: center;
}

.location{
    display: flex;
    align-items: center;
    justify-content: center;
}
.addressicon {
    font-size: 1.5rem;
}
.add1{
    font-size: 0.85rem;
    margin-left: 5px;
   
}
.add2{
    margin-top: 2px;
    margin-left: 2px;
    font-weight: 800;
}
.navsearch{
    width: 45rem;
    height: 2.5rem;
    display: flex;
}
.searchbar{
    width: 88%;
}
.searchicon{
    width: 20px;
    font-size: 20px;
}
.selectcat{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}