*{
    margin: 0;
    border: border-box;
    color: white;
}
.navbar{
    background-color: black;
    color: white;
    height: 4.5rem;
    display: Flex;
    align-items: center;
    justify-content: space-evenly;
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border-color: white;
}
.navlogo{
    width: 7.5rem;
    height: 2.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
}

.logo{
    
    background-image: url("logo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 6.5rem;
    height: 2.8rem;
}
.navloc{
    width: 5rem;
    height: 3rem;
    display:flex;
    align-items: center;
    justify-content: center;
}

.location{
    display: flex;
    align-items: center;
    justify-content: center;
}
.addressicon {
    font-size: 1.5rem;
}
.add1{
    font-size: 0.85rem;
    margin-left: 5px;
   
}
.add2{
    margin-top: 2px;
    margin-left: 2px;
    font-weight: 800;
}
.navsearch{
    width: 45rem;
    height: 2.5rem;
    display: flex;
    margin-left: 30px;
    border-radius: 5px;
}
.border-nav{
    border: 2px solid transparent;
}
.border-nav:hover{
    border: 2px solid orange;
   
}
.searchbar{
    width: 90%;
}
.searchicon{
    width: 35px;
    font-size: 20px;
    padding-top: 10px;
    padding-left: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: orange;

}
.selectcat{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color:black;
    background-color: aliceblue;
}
.selectcat option{
    background-color: whitesmoke;
    color: black;
}
.navAccounts{
    margin-left: 10px;
}
.hello{
    font-size: 0.85rem;
}
.accounts_lists{
    font-weight: 800;
}
.returns{
    font-size: 0.85rem;
}
.accounts_lists{
    font-weight: 800;
}
.navCart{
    display: flex;
}
.Carticon{
    font-size: 25px;
}
.menubar{
    color: black;
    background-color: #0f1111;
    height: 40px;
    font-weight: 200;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.menubar1{
    color: white;
    background-color: gray;
    height: 40px;
    font-weight: 200;
    display: flex;
    align-items: center;
    justify-content: start;
}
.border2{
    border: 1px solid transparent;
}
.border2:hover{
    border-color: white;
}

.bg1{
    background-image: url("BG.jpg");
    background-size: cover;
    height: 230px;
}
.mainmenu{
    background-image: linear-gradient(black,white);
    height: 200px;
    display: flex;
    justify-content: space-evenly;
}
.sidelist{
    height: 500px;
    width: 50px;
    background-color: darkblue;

}
.product1{
    background-image: url("Image_1.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 500px;
    width: 500px;
    margin-left: 2px;
}
.product_image{
    display: flex;
    margin-top: 30px;
}
.text1{
    width: 380px;
    height: 800px;
    color: #0f1111;
    font-size: xx-large;
    background-color: aquamarine;
}
.text1 h1{
    width: 280px;
    height: 280px;
    color: #0f1111;
    font-size: xx-large;
}
.text2{
    width: 350px;
    height: 800px;
    font-size: xx-large;
    background-color:black;
    margin-left: 20px;
}
.text2 h1{
    width: 280px;
    height: 280px;
    color: white;
    font-size: xx-large;
}